@model IEnumerable<DB.Location>

@{
    ViewBag.Title = Loc.Dic.Locations;
    ViewBag.PageName = "Inventory";
    ViewBag.SubPageName = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Loc.Dic.Locations</h2>

<p>
    @Html.ActionLink(Loc.Dic.CreateNew, "Create")
</p>
<table>
    <tr>
        <th>
            @Loc.Dic.City
        </th>
        <th>
            @Loc.Dic.Address
        </th>
        <th>
            @Loc.Dic.Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(Loc.Dic.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
