@model DB.Orders_Items

<div id="CreateFormContainer" class="popOutDialog">
        <fieldset>
            <legend>@Loc.Dic.SupplierItem</legend>

            <div class="editor-label">
                @Loc.Dic.ItemName
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
            </div>
    
            <div class="editor-label">
                @Loc.Dic.ItemDescription (@Loc.Dic.OptionalField)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SubTitle)
            </div>
            
            <p>
                <input id="submitOrderItem" type="button" value="@Loc.Dic.CreateItem" />
            </p>
        </fieldset>
</div>
