@model DB.Budgets_Incomes

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Budgets_Incomes</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreationDate)
            @Html.ValidationMessageFor(model => model.CreationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BudgetId, "Budget")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BudgetId", String.Empty)
            @Html.ValidationMessageFor(model => model.BudgetId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BudgetIncomeTypeId, "Budgets_Incomes_types")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BudgetIncomeTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.BudgetIncomeTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BudgetsIncomeInstitutions, "Budgets_Incomes_Institutions")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BudgetsIncomeInstitutions", String.Empty)
            @Html.ValidationMessageFor(model => model.BudgetsIncomeInstitutions)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomName)
            @Html.ValidationMessageFor(model => model.CustomName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
