@{
    ViewBag.CurrentUser = (GAppsDev.OpenIdService.OpenIdUser)Session["User"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - cloudERP</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")

    @if (ViewBag.CurrentUser != null)
    {
        if (ViewBag.CurrentUser.LanguageCode == "he" || ViewBag.CurrentUser.LanguageCode == "ar")
        {
        <link href="~/Content/rtl.css" rel="stylesheet" />
        }
        else if (ViewBag.CurrentUser.LanguageCode == "en" || ViewBag.CurrentUser.LanguageCode == "ru")
        {
        <link href="~/Content/ltr.css" rel="stylesheet" />
        }
    }
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    @RenderSection("ExtraScripts", false)
</head>
<body id="@(ViewBag.PageName ?? "mainBodyId")" class="@(ViewBag.SubPageName ?? "mainBodyClass")">
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("cloudERP", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <div id="mainMenu">
                        <ul>
                            <li id="OrdersPage">
                                @Html.ActionLink(Loc.Dic.Procurement, "Home", "Orders", null, new { id = "OrdersLink" })
                            </li>
                            <li>|</li>
                            <li id="InventoryPage">
                                @Html.ActionLink(Loc.Dic.Inventory, "Home", "Inventory", null, new { id = "InventoryLink" })
                            </li>
                            <li>|</li>
                            <li id="BudgetsPage">
                                @Html.ActionLink(Loc.Dic.Budget, "Home", "Budgets", null, new { id = "BudgetsLink" })
                            </li>
                            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.SystemManager))
                            {
                            <li>|</li>
                            <li id="CompaniesPage">
                                @Html.ActionLink(Loc.Dic.Managment, "Home", "Companies", null, new { id = "ManagmentLink" })
                            </li>
                            }
                        </ul>
                    </div>
                    <ul id="menu" style="display: none;">

                        @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.SystemManager))
                        {
                            <li>@Html.ActionLink(Loc.Dic.UsersManagment, "Index", "Users")</li>
                        }
                        @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.SystemManager))
                        {
                            <li>@Html.ActionLink(Loc.Dic.Projects, "Index", "Projects")</li>
                            <li>@Html.ActionLink(Loc.Dic.SubProject, "Index", "SubProjects")</li>
                            <li>@Html.ActionLink(Loc.Dic.Budget, "index", "Budgets")</li>
                            <li>@Html.ActionLink(Loc.Dic.Incomes, "Index", "Incomes")</li>
                            <li>@Html.ActionLink(Loc.Dic.Expenses, "Index", "Expenses")</li>
                            <li>@Html.ActionLink(Loc.Dic.BudgetAllocations, "Index", "BudgetAllocations")</li>
                            <li>@Html.ActionLink(Loc.Dic.Permissions, "Index", "Permissions")</li>
                            <li>@Html.ActionLink(Loc.Dic.Departments, "Index", "Departments")</li>
                                
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                @if (ViewBag.noSubMenu == null)
                { 
                    <div id="subMenu">@Html.Partial("SubMenu_" + (string)ViewBag.PageName)</div> 
                }

            </div>
        </section>
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - <span style="color: #33CCFF">pq</span>dev</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
