@{
    ViewBag.CurrentUser = (GAppsDev.OpenIdService.OpenIdUser)Session["User"];
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - cloudERP</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        @RenderSection("ExtraScripts", false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("cloudERP", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.OrdersWriter))
                            {
                                <li>@Html.ActionLink(Loc.Dic.MyOrders, "MyOrders", "Orders")</li>
                            }
                            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.OrdersViewer))
                            {
                                <li>@Html.ActionLink(Loc.Dic.AllOrders, "Index", "Orders")</li>
                            }
                            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.OrdersApprover))
                            {
                                <li>@Html.ActionLink(Loc.Dic.PendingOrders, "PendingOrders", "Orders")</li>
                            }
                            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.SystemManager))
                            {
                            <li>@Html.ActionLink(Loc.Dic.UsersManagment, "Index", "Users")</li>
                            }
                            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.SystemManager))
                            {
                            <li>@Html.ActionLink(Loc.Dic.Projects, "Index", "Projects")</li>
                            <li>@Html.ActionLink(Loc.Dic.SubProject, "Index", "SubProjects")</li>
                            <li>@Html.ActionLink(Loc.Dic.Budget, "Budgets")</li>
                            <li>@Html.ActionLink(Loc.Dic.Incomes, "Index", "Incomes")</li>
                            <li>@Html.ActionLink(Loc.Dic.Expenses, "Index", "Expenses")</li>
                            <li>@Html.ActionLink(Loc.Dic.BudgetAllocations, "Index", "BudgetAllocations")</li>
                            <li>@Html.ActionLink(Loc.Dic.Permissions, "Index", "Permissions")</li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - cloudERP</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
