@model DB.Orders_Items

@{
    ViewBag.Title = "Details";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<fieldset>
    <legend>Orders_Items</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Supplier.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
