@model DB.Budgets_ExpensesToIncomes

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Budgets_ExpensesToIncomes</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreationDate)
            @Html.ValidationMessageFor(model => model.CreationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IncomeId, "Budgets_Incomes")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IncomeId", String.Empty)
            @Html.ValidationMessageFor(model => model.IncomeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpenseId, "Budgets_Expenses")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ExpenseId", String.Empty)
            @Html.ValidationMessageFor(model => model.ExpenseId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
