@model GAppsDev.Models.AllocationModels.AllocationDetailsModel

@{
    ViewBag.Title = Loc.Dic.Details;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllBudgets";
}

<fieldset>
    <legend>@Loc.Dic.Allocation</legend>

    <div class="display-label">
         @Loc.Dic.Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginalAllocation.Name)
    </div>
    <br />

    <div class="display-label">
         @Loc.Dic.TheTotalUsed:
    </div>
    <div class="display-field">
        <table class="listTable">
            <tr class="headingRow">
                <th></th>
                @for (int i = 1; i <= 12; i++)
                {
                    <th>@Html.GetMonthName(i)</th>
                }
                <th>@Loc.Dic.Total</th>
            </tr>
            <tr class="evenRow">
                <td class="bold">@Loc.Dic.Amount</td>
                @for (int i = 1; i <= 12; i++)
                {
                    <td>@Model.OriginalAllocation.Budgets_AllocationToMonth.Single( x => x.MonthId == i).Amount</td>
                }
                <th>@Model.OriginalAllocation.Budgets_AllocationToMonth.Sum( x => x.Amount)</th>
            </tr>
            <tr class="oddRow">
                <td class="bold">@Loc.Dic.TheTotalUsed</td>
                @{
                    decimal totalUsed = 0;
                }
                @for (int i = 1; i <= 12; i++)
                {
                    decimal usedAmount = Model.OriginalAllocation.Budgets_AllocationToMonth.Single(x => x.MonthId == i).Amount - Model.RemainingAllocation.Budgets_AllocationToMonth.Single(x => x.MonthId == i).Amount;
                    totalUsed += usedAmount;
                    
                    <td>@usedAmount</td>
                }
                <th>@totalUsed</th>
            </tr>
            <tr class="evenRow">
                <td class="bold">@Loc.Dic.RemainingAllocationAmount</td>
                @for (int i = 1; i <= 12; i++)
                {
                    <td>@Model.RemainingAllocation.Budgets_AllocationToMonth.Single( x => x.MonthId == i).Amount</td>
                }
                <th>@Model.RemainingAllocation.Budgets_AllocationToMonth.Sum( x => x.Amount)</th>
            </tr>
        </table>
    </div>
    <br />

</fieldset>
<p>
    @Html.ActionLink(Loc.Dic.BackToList, "AllocationMontheList", "BudgetAllocations", new { id = Model.OriginalAllocation.BudgetId }, null)
</p>
