@model DB.Budgets_PermissionsToAllocation

@{
    ViewBag.Title = "Create";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllBudgets";
}

<h2>@ViewBag.budgetYear > @Loc.Dic.Permissions > @ViewBag.PermissionName</h2>
<h2>@Loc.Dic.AddAllocationToPermission</h2>

@using (Html.BeginForm())
{
        <div class="editor-field">
            @Html.DropDownList("BudgetsExpensesToIncomesId", (SelectList)ViewBag.AllocationList)
        </div>
                @Html.HiddenFor(model => model.BudgetId)
                @Html.HiddenFor(model => model.BudgetsPermissionsId)
        <p>
            <input type="submit" value="@Loc.Dic.Add" />
        </p>
}

<div>
    @Html.ActionLink(Loc.Dic.BackToList, "ExistPermissionsList", "Permissions", new { id = Model.BudgetId }, null)
</div>
