@model DB.Budgets_BasketsToAllocation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Budgets_BasketsToAllocation</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.BasketId, "Budgets_Baskets")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BasketId", String.Empty)
            @Html.ValidationMessageFor(model => model.BasketId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BudgetsExpensesToIncomesId, "Budgets_Allocations")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BudgetsExpensesToIncomesId", String.Empty)
            @Html.ValidationMessageFor(model => model.BudgetsExpensesToIncomesId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
