@model DB.Department

@{
    ViewBag.Title = Loc.Dic.Edit;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllDepartments";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Loc.Dic.Edit</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Loc.Dic.Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value=@Loc.Dic.Send />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
