@model GAppsDev.Models.UserModels.AllUsersModel

@{
    ViewBag.Title = Loc.Dic.UsersManagment;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllUsers";
}

@section ExtraScripts{
    <script type="text/javascript" src='@Url.Action("LocalizeJavascript", "Localization", new { get = "Show,Hide" })'></script>
    <script src="~/Scripts/SearchScript.js"></script>
}

<fieldset id="userLimit">
    <legend>@Loc.Dic.UsersAmount</legend>

    <span><span class="bold">@Loc.Dic.AllUsers:</span> @Model.UsersCount</span><br />
    <span><span class="bold">@Loc.Dic.UsersQuota:</span> @Model.UsersLimit</span><br />
    <span><span class="bold">@Loc.Dic.CanceledUsers:</span> @Model.NonActiveUsers.Count</span>
</fieldset>
<br />

@Html.Action("SearchForm", new { isExpanding = true, isCollapsed= true })
<br /><br />
@Html.ActionLink(Loc.Dic.CreateNew, "Create")


<h2>@Loc.Dic.ActiveUsers (@Model.ActiveUsers.Count)</h2>
@if (Model.ActiveUsers.Count() != 0)
{ 
    @Html.Action("List", new { users = Model.ActiveUsers, baseUrl = Url.Action("Index"), isOrdered = true, isPaged = true, sortby = (string)ViewBag.Sortby, order = (string)ViewBag.Order, currPage = (int)ViewBag.CurrPage, NumberOfPages = (int)ViewBag.NumberOfPages })
}
else
{
    <span class="no-properties">@Loc.Dic.NoActiveUsersFound</span> 
}

<h2>@Loc.Dic.NewUsers (@Model.PendingUsers.Count)</h2>
@if(Model.PendingUsers.Count > 0)
{
    @Html.Action("PendingUsersList", new { users = Model.PendingUsers, baseUrl = Url.Action("Index"), isOrdered = false, isPaged = false, sortby = "none", order = "DESC", currPage = 1, NumberOfPages = 1 })
}
else
{
    <div>
        <span>@Loc.Dic.NoNewUsersFound.</span>
    </div>
}


<h2>@Loc.Dic.CanceledUsers (@Model.NonActiveUsers.Count)</h2>
@if (Model.NonActiveUsers.Count > 0)
{
    @Html.Action("List", new { users = Model.NonActiveUsers, baseUrl = Url.Action("Index"), isOrdered = false, isPaged = false, sortby = "none", order = "DESC", currPage = 1, NumberOfPages = 1 })
}
else
{
    <div>
        <span>@Loc.Dic.NoCanceledUsersFound.</span>
    </div>
}