@model GAppsDev.Models.UserModels.AllUsersModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Loc.Dic.UsersManagment;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllUsers";
}

@section ExtraScripts{
    <script src="~/Scripts/SearchScript.js"></script>
}

<fieldset id="userLimit">
    <legend>@Loc.Dic.UsersAmount</legend>

    <span>@Loc.Dic.AllUsers@Model.UsersCount</span><br />
    <span>מכסת משתמשים: @Model.UsersLimit</span><br />
    <span>משתמשים מבוטלים: @Model.NonActiveUsers.Count</span>
</fieldset>

@Html.Action("SearchForm", new { isExpanding = true, isCollapsed= true })

<p>
    @Html.ActionLink(Loc.Dic.CreateNew, "Create")
</p>

<h2>משתמשים פעילים (@Model.ActiveUsers.Count)</h2>
@if (Model.ActiveUsers.Count() != 0)
{ 
    @Html.Action("List", new { users = Model.ActiveUsers, baseUrl = Url.Action("Index"), isOrdered = true, isPaged = true, sortby = (string)ViewBag.Sortby, order = (string)ViewBag.Order, currPage = (int)ViewBag.CurrPage, NumberOfPages = (int)ViewBag.NumberOfPages })
}
else
{
    <span class="no-properties">לא נמצאו משתמשים פעילים</span> 
}

<h2>משתמשים חדשים (@Model.PendingUsers.Count)</h2>
@if(Model.PendingUsers.Count > 0)
{
    <table>
        <tr>
            <th>
                @Loc.Dic.Email
            </th>
        
            <th>
                @Loc.Dic.Role
            </th>
            <th>
                @Loc.Dic.CreationDate
            </th>
            <th>פעולות</th>
        </tr>

    @foreach (var user in Model.PendingUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @{ 
                    string roles = ((DA.RoleType)user.Roles).ToString();
                    <text> @roles </text>
                 }
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.CreationDate)
            </td>
            <td>
                @Html.ActionLink("ערוך", "EditPending", new { id=user.Id }) |
                @Html.ActionLink("מחק", "DeletePending", new { id=user.Id })
            </td>
        </tr>
    }

    </table>
}
else
{
    <div>
        <span>לא נמצאו משתמשים חדשים.</span>
    </div>
}


<h2>משתמשים שבוטלו (@Model.NonActiveUsers.Count)</h2>
@if (Model.NonActiveUsers.Count > 0)
{
    <table>
        <tr>
            <th>
                @Loc.Dic.Email
            </th>
            <th>
                @Loc.Dic.Name
            </th>
            <th>
                @Loc.Dic.Role
            </th>
            <th>
                @Loc.Dic.CreationDate
            </th>
            <th>
                @Loc.Dic.LastLogInTime
            </th>
            <th>פעולות</th>
        </tr>

    @foreach (var user in Model.NonActiveUsers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.FirstName)
                @Html.DisplayFor(modelItem => user.LastName)
            </td>
            <td>
                @{ 
                    string roles = ((DA.RoleType)user.Roles).ToString();
                    <text> @roles </text>
                 }
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LastLogInTime)
            </td>
            <td>
                @Html.ActionLink("החזר משתמש", "UndoDelete", new { id=user.Id })
            </td>
        </tr>
    }

    </table>
}
else
{
    <div>
        <span>לא נמצאו משתמשים שבוטלו.</span>
    </div>
}