@model DB.Department

@{
    ViewBag.Title = Loc.Dic.Details;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllDepartments";
}

<fieldset>
    <legend>@Loc.Dic.Details</legend>

    <div class="display-label">
         @Loc.Dic.Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id=Model.Id }) |
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</p>
