@model DB.Order

@{
    ViewBag.Title = "הזמנה חדשה";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ExtraScripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script src="~/Scripts/createOrderScript.js"></script>
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<fieldset>
    <legend>בחירת ספק</legend>
    <label class="inlineLabel" for="choosenSupplier">ספק: </label>
    
    @Html.DropDownList("SupplierId", (SelectList)ViewBag.SupplierId, new { id = "suppliersList" })
    
    <input id="SupplierButton" type="button" value="בחר והמשך" onclick="beginForm()"/>
    <input id="AddSupplierButton" type="button" value="צור ספק חדש" onclick="addSupplier()"/>
</fieldset>

<fieldset id="formContainer" style="display:none;">
    <legend>פרטי הזמנה</legend>

    @using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { style = "display:none;" }))
    {
        @Html.ValidationSummary(true)

        <input id="SupplierId" name="SupplierId" type="hidden" value="" />
        <input id="ItemsAsString" name="itemsString" type="hidden" value="" />

        <div class="editor-field">
            <input id="orderItemsList" name="orderItemsList" type="hidden" value="" />
            
            <div id="AddNewItemContainer">
                פריט: <span id="loadingMessage"> טוען פריטים ... </span>
                כמות : <input style="width:50px" id="itemQuantity" type="text" />
                מחיר ליחידה : <input style="width:50px" id="itemPrice" type="text" />
                מחיר כולל : <input class="display" id="itemFinalPrice" type="text" disabled="disabled"/>
                <input id="AddNewItemButton" type="button" value="הוסף" /> <input id="AddOrderItemButton" type="button" value="צור פריט חדש" onclick="addOrderItem()"/>
            </div>
        </div>
        
        <fieldset>
            <legend>פריטים להזמנה</legend>

            <div id="orderItems">
                <span>אין פריטים בהזמנה.</span>
            </div>
        
        </fieldset>
        <span>מחיר כולל: </span><input class="display" type="text" id="totalOrderPrice" disabled="disabled"/>
        <br />
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
        <br />

        <p>
            <input type="submit" value="שלח הזמנה" />
        </p>
    }
</fieldset>

<div>
    @Html.ActionLink("חזור לדף ההזמנות שלי", "MyOrders")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
