@model GAppsDev.Models.OrderModel

@{
    ViewBag.Title = Loc.Dic.OrderDetails;
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "MyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var fileName = Model.Order.CompanyId.ToString() + "_" + Model.Order.Id.ToString() + ".pdf";
    string invoicePath = Url.Content("~/App_Data/Uploads/Invoices/" + fileName);
}

<fieldset>
    <legend>@Loc.Dic.OrderDetails</legend>

    <div class="display-label">
        @Loc.Dic.OrderCreatorName
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.User.FirstName)
        @Html.DisplayFor(model => model.Order.User.LastName)
    </div>

    <div class="display-label">
        @Loc.Dic.Email
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.User.Email)
    </div>

    <div class="display-label">
        @Loc.Dic.CreationDate
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.CreationDate)
    </div>

    <div class="display-label">
        @Loc.Dic.SupplierName
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Supplier.Name)
    </div>

    <table>
        <tr class="display-label">
            <th>@Loc.Dic.ItemName
            </th>
            <th>@Loc.Dic.ItemDescription
            </th>
            <th>@Loc.Dic.Price
            </th>
            <th>@Loc.Dic.Amount
            </th>
        </tr>
        @foreach (var item in Model.OrderToItem)
        {
            <tr class="display-field">
                <td>
                    @item.Orders_Items.Title
                </td>
                <td>
                    @item.Orders_Items.SubTitle
                </td>
                <td>
                    @item.SingleItemPrice
                </td>
                <td>
                    @item.Quantity
                </td>
            </tr>
        }
    </table>

    <div class="display-label">
        @Loc.Dic.Notes
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Notes)
    </div>

    <div class="display-label">
        @Loc.Dic.Price
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Price)
    </div>

    <div class="display-label">
        @Loc.Dic.OrderStatusName
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Orders_Statuses.Name)
    </div>

    <div class="display-label">
        @Loc.Dic.OrderApproverNotes
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.OrderApproverNotes)
    </div>
    <br />

    @if (Model.Order.Orders_Statuses.Id >= (int)DA.StatusType.InvoiceScannedPendingOrderCreator)
    {
        @Html.ActionLink(Loc.Dic.DownloadInvoice, "DownloadInvoice", new { id = Model.Order.Id });
        <br />
    }
    @if (Model.Order.Orders_Statuses.Id >= (int)DA.StatusType.ReceiptScanned)
    {
        @Html.ActionLink(Loc.Dic.DownloadReceipt, "DownloadReceipt", new { id = Model.Order.Id });
        <br />
    }

</fieldset>
<p>
    @if (Model.Order.Orders_Statuses.Id == (int)DA.StatusType.Pending || Model.Order.Orders_Statuses.Id == (int)DA.StatusType.PendingOrderCreator)
    {
        @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id = Model.Order.Id }) 
    }
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</p>
