@model DB.Order

@{
    ViewBag.Title = Loc.Dic.EditOrder;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "AllOrders";
}

@section ExtraScripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script src="~/Scripts/editOrderScript.js"></script>
}

<fieldset>
    <legend>@Loc.Dic.ChosenSupplier</legend>
    <label class="inlineLabel" for="choosenSupplier">@Loc.Dic.Supplier: </label>
    <span class='selectedSupplier'> @Model.Supplier.Name </span>
</fieldset>

<fieldset id="formContainer">
    <legend>@Loc.Dic.OrderDetails</legend>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        
        @Loc.Dic.BudgetAllocation<text>:</text> @Html.DropDownList("BudgetAllocationId")
        <br /><br />
        
        @Html.HiddenFor( model => model.SupplierId);
        <input id="ItemsAsString" name="itemsString" type="hidden" value="" />

        <div class="editor-field">
            <input id="orderItemsList" name="orderItemsList" type="hidden" value="" />
            
            <div id="AddNewItemContainer">
                @Loc.Dic.Item: <span id="loadingMessage"> @Loc.Dic.Loading... </span>
                @Loc.Dic.Quantity : <input style="width:50px" id="itemQuantity" type="text" />
                @Loc.Dic.SingleItemPrice : <input style="width:50px" id="itemPrice" type="text" />
                @Loc.Dic.TotalPrice : <input class="display" id="itemFinalPrice" type="text" disabled="disabled"/>
                <input id="AddNewItemButton" type="button" value="@Loc.Dic.Add" /> <input id="AddOrderItemButton" type="button" value="@Loc.Dic.CreateNewItem" onclick="addOrderItem()"/>
            </div>
        </div>
        
        <fieldset>
            <legend>פריטים להזמנה</legend>

            <div id="orderItems">
                <span>אין פריטים בהזמנה.</span>
            </div>
        
        </fieldset>
        <span>מחיר כולל: </span><input class="display" type="text" id="totalOrderPrice" disabled="disabled"/>
        <br />
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
        <br />

        <p>
            <input type="submit" value="עדכן הזמנה" />
        </p>
    }
</fieldset>

<div>
    @Html.ActionLink("חזור לדף ההזמנות שלי", "MyOrders")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        beginForm("@ViewBag.ExistingItems");
    });
</script>
