@model GAppsDev.Models.OrderModel

@{
    ViewBag.Title = "אישור הזמנה";
}

<h2>אישור הזמנה</h2>
@using (Html.BeginForm()) {

<fieldset>
    <legend>Order</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Order.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.CreationDate)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Order.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.User.FirstName) @Html.DisplayFor(model => model.Order.User.LastName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Order.SupplierId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Supplier.Name)
    </div>
    <table>
        <tr class="display-label">
            <th>שם הפריט
            </th>
            <th>תיאור הפריט
            </th>
            <th>מחיר בודד
            </th>
            <th>כמות
            </th>
        </tr>
        @foreach (var item in Model.OrderToITem)
        {
            <tr class="display-field">
                <td>
                    @item.Orders_Items.Title
                </td>
                <td>
                    @item.Orders_Items.SubTitle
                </td>
                <td>
                    @item.SingleItemPrice
                </td>
                <td>
                    @item.Quantity
                </td>
            </tr>
        }
    </table>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Order.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Notes)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Order.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Price)
    </div>


    <div class="display-label">
        @Html.DisplayNameFor(model => model.Order.OrderApproverNotes)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.OrderApproverNotes)
    </div>
    @Html.HiddenFor(model => model.Order.Id)
    <p>
        <input type="submit" name="selectedStatus" value="אשר הזמנה" />
        <input type="submit" name="selectedStatus" value="דחה הזמנה" />
        <input type="submit" name="selectedStatus" value="החזר למשתמש" />

    </p>
</fieldset>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
