@model GAppsDev.Models.PrintOrderModel

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "PrintOrderToScreen";
}

@section ExtraCss{
    <link href="~/Content/site.css" rel="stylesheet" />
    <style>
        body { border:none; }
        .itemTitle { text-decoration:underline }
        .itemDetail { margin: 0 5px }
    </style>
    @if (ViewBag.LanguageCode == "he" || ViewBag.LanguageCode == "ar")
    {
        <link href="~/Content/rtl.css" rel="stylesheet" />
    }
    else if (ViewBag.LanguageCode == "en" || ViewBag.LanguageCode == "ru")
    {
        <link href="~/Content/ltr.css" rel="stylesheet" />
    }
}

<fieldset>
    <legend>@Loc.Dic.ProcurementOrder</legend>

    <div id="logoContainer">
        <img src=@(Url.Content("~/Content/LogoImages/" + Model.Order.Company.Name + ".png")) style="max-width:500px;max-height:200px;"/>
    </div>
    <br />

    <span class="bold">@Loc.Dic.CompanyNumber:</span> <span>@Html.DisplayFor(model => model.Order.Company.CompanyNumber)</span>
    <br />
    <span class="bold">@Loc.Dic.OrderNumber:</span> <span>@Html.DisplayFor(model => model.Order.OrderNumber)</span>
    <br />
    <span class="bold">@Loc.Dic.OrderCreatorName:</span> <span>@Html.DisplayFor(model => model.Order.User.FirstName) @Html.DisplayFor(model => model.Order.User.LastName)</span>
    <br />
    <span class="bold">@Loc.Dic.OrderDate:</span> <span>@Model.Order.CreationDate.ToShortDateString()</span>
    <br />
    <span class="bold">@Loc.Dic.SupplierName:</span> <span>@Html.DisplayFor(model => model.Order.Supplier.Name)</span>
    <br />
    <span class="bold">@Loc.Dic.Notes:</span><br />
    <span>@Html.DisplayFor(model => model.Order.Notes)</span>
    <br /><br />

    <fieldset>
        <legend>@Loc.Dic.OrderItems</legend>

        @foreach (var item in Model.Items)
        {
            <div class="orderItemContainer">
                &nbsp;&nbsp;<span class="bold itemTitle">@Loc.Dic.OrderItemTitle:</span> <span>@item.Orders_Items.Title</span><br />
                &nbsp;&nbsp;<span class="bold itemDetail">@Loc.Dic.OrderItemSubTitle:</span> <span>@item.Orders_Items.SubTitle</span><br />
                &nbsp;&nbsp;<span class="bold itemDetail">@Loc.Dic.Quantity:</span> <span>@item.Quantity</span><br />
                &nbsp;&nbsp;<span class="bold itemDetail">@Loc.Dic.SingleItemPrice:</span> <span>@item.SingleItemPrice</span><br />
                &nbsp;&nbsp;<span class="bold itemDetail">@Loc.Dic.Total:</span> <span>@(item.SingleItemPrice * item.Quantity)</span><br />
            </div>
            <br />
        }
    </fieldset>
    <br />

    <div class="floatToSide">
        <span class="bold">@Loc.Dic.Price:</span> <span>@Html.DisplayFor(model => model.Order.Price)</span>
    </div>
    <br />
</fieldset>
