@model GAppsDev.Models.UploadInvoiceModel

@{
    ViewBag.Title = "UploadInvoiceFile";
    ViewBag.PageName = "Orders";
    ViewBag.noSubMenu = true;
}
@section ExtraScripts{
    <script>
    $(function() {
        $("#InvoiceDate").datepicker($.datepicker.regional["he"]);
        $("#InvoiceDate").datepicker("option", "dateFormat", "dd/mm/yy");
        $("#ValueDate").datepicker($.datepicker.regional["he"]);
        $("#ValueDate").datepicker("option", "dateFormat", "dd/mm/yy");
    });
    </script>   
    }

<h2>@Loc.Dic.UploadInvoice</h2>
<br />

@using (Html.BeginForm("UploadInvoiceFile", "Orders", new { id = ViewBag.OrderID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    
    <div class="editor-label">
        @Loc.Dic.InvoiceNumber
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.InvoiceNumber)
        @Html.ValidationMessageFor(model => model.InvoiceNumber)
    </div>
    <br />
    
    <div class="editor-label">
        @Loc.Dic.InvoiceDate (DD/MM/YYYY)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.InvoiceDate, new { id = "InvoiceDate" })
        @Html.ValidationMessageFor(model => model.InvoiceDate)
    </div>
    <br />
    
    <div class="editor-label">
        <span>@Loc.Dic.ValueDate (DD/MM/YYYY)</span>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ValueDate, new { id = "ValueDate" })
        @Html.ValidationMessageFor(model => model.ValueDate)
    </div>
    <br />
    
    <div class="editor-label">
        @Loc.Dic.InvoiceFile
    </div>
    <div class="editor-field">
        <input type="file" name="file" />
    </div>
    <br />
    
    <p>
        <input type="submit" value="OK" />
    </p>
}
