@model DB.Projects_SubProject

@{
    ViewBag.Title = Loc.Dic.CreateNew;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllSubProjects";
}

<h2>@Loc.Dic.CreateNew</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Loc.Dic.SubProject</legend>

        <div class="editor-label">
            @Loc.Dic.Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" class="disableOnSubmit" value="@Loc.Dic.CreateNew" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
