@model DB.Projects_SubProject

@{
    ViewBag.Title = Loc.Dic.Edit;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllSubProjects";
}

<h2>@Loc.Dic.Details</h2>

<fieldset>
        <legend>@Loc.Dic.SubProject</legend>


    <div class="display-label">
            @Loc.Dic.Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id=Model.Id }) |
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</p>
