@model GAppsDev.Models.ApprovalRouteModel

@{
    ViewBag.Title = Loc.Dic.CreateApprovalRoute;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllApprovalRoutes";
}

@section ExtraScripts{
    <script type="text/javascript" src='@Url.Action("LocalizeJavascript", "Localization", new { get = "ListStartLocation,Step,OrderApprover,Delete,RouteHasNoSteps" })'></script>
    <script src="~/Scripts/CreateApprovalRouteScript.js"></script>
}

@using(Html.BeginForm()) {
    <text>@Loc.Dic.ApprovalRouteName: @Html.TextBoxFor( model => model.Name) </text>
    <br />
    <br />
    
    @Loc.Dic.OrderApprover<text>:</text> @Html.DropDownList("users", (SelectList)ViewBag.UsersSelectList, new { id = "UsersSelectList"}) 
    @Loc.Dic.InsertAfter<text>:</text> 
    <select id="insertAfterList">
        <option value="-1">@Loc.Dic.ListStartLocation</option>
        @if (Model != null)
        {
            for (int i = 0; i < Model.Steps.Count; i++)
            {
                <option value="@Model.Steps[i].StepNumber"> @Model.Steps[i].StepNumber - @Model.Steps[i].UserName</option>
            }
        }
    </select> 
    <input id="addStepBtn" type="button" value="@Loc.Dic.Add" onClick="addStep()" />
    
    <fieldset>
        <legend>@Loc.Dic.RouteSteps</legend>

        <div id="StepsContainer">
            @if(Model != null && Model.Steps.Any())
            {
                for (int i = 0; i < Model.Steps.Count; i++)
                {
                <div id="step-@i" class="existingStep">
                    <input type="hidden" id="userField-@i" class="userField" name="Steps[@i].UserId" value="@Model.Steps[i].UserId" />
                    <input type="hidden" id="userNameField-@i" class="userNameField" value="@Model.Steps[i].UserName" />
                    <input type="hidden" id="stepField-@i" class="stepField" name="Steps[@i].StepNumber" value="@Model.Steps[i].StepNumber" />
                    <span>@Loc.Dic.Step: @Model.Steps[i].StepNumber @Loc.Dic.OrderApprover: @Model.Steps[i].UserName </span>
                    <input type="button" value="@Loc.Dic.Delete" onClick="removeStep(@i) "/>
                </div>
                }
            }
            else
            {
                @Loc.Dic.RouteHasNoSteps
            }
        </div>
    </fieldset>
    
    <p>
        <input type="submit"  value="@Loc.Dic.Submit" />
    </p>
}