@model List<DB.Users_ApprovalRoutes>

@{
    string ReverseOrder;
    if (ViewBag.Order == "ASC")
    {
        ReverseOrder = "DESC";
    }
    else
    {
        ReverseOrder = "ASC";
    }
}

@if (ViewBag.IsCheckBoxed)
{
    <button type="button" id="selectAllApprovalRoutes" onclick="$('.approvalRouteCheckbox').attr('checked', true)">@Loc.Dic.SelectAll</button> 
    <button type="button" id="deselectAllApprovalRoutes" onclick="$('.approvalRouteCheckbox').attr('checked', false)">@Loc.Dic.SelectNone</button>
}
<table class="listTable">
    <tr class="headingRow">
        @if (ViewBag.IsCheckBoxed)
        {
            <th>
                @Loc.Dic.SelectedItems
            </th>
        }
        @if ((bool)ViewBag.IsOrdered)
        {
            <th>@Html.FilterLink((string)ViewBag.BaseUrl, Loc.Dic.Name, "name", ReverseOrder, (string)ViewBag.Sortby)</th>
        }
        else
        { 
            <th>
                @Loc.Dic.Name
            </th>
        }

        <th>@Loc.Dic.Actions</th>
    </tr>
    @for (int index = 0; index < Model.Count; index++)
    {
        DB.Users_ApprovalRoutes item = Model[index];
        
        <tr class="@if (index % 2 != 0)
                   {<text>oddRow</text>}
                   else
                   {<text>evenRow</text>}" >
            @if (ViewBag.IsCheckBoxed)
            {
                <td>
                    <input type="checkbox" id="checkbox-@item.Id" class="approvalRouteCheckbox" value="@item.Id" name="selectedApprovalRoute" />
                </td>
            }
            <td>
                @Html.DisplayTextFor(modelItem => item.Name)
            </td>

            <td>
                @Html.ActionLink(Loc.Dic.Details, "Details", new { id = item.Id }) |
                @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(Loc.Dic.Delete, "Delete", new { id = item.Id }) 
            </td>
        </tr>
    }
</table>
@if ((bool)ViewBag.IsPaged)
{ 
    <br />  
    @Html.Pagination((string)ViewBag.BaseUrl, (int)ViewBag.NumberOfPages, 10, (int)ViewBag.CurrPage, (string)ViewBag.Sortby, (string)ViewBag.Order)
}