@model DB.Budgets_BasketsToAllocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Budgets_BasketsToAllocation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Budgets_Baskets.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Budgets_Baskets.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Budgets_Allocations.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Budgets_Allocations.Id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
