@model IEnumerable<DB.Budgets_BasketsToAllocation>

@{
    ViewBag.Title = "PermissionAllocationList";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllBudgets";
}

<h2>@ViewBag.budgetYear > @Loc.Dic.Permissions > @ViewBag.PermissionName</h2>


<table>
    <tr>
        <th>
            @Loc.Dic.Allocations
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Budgets_Allocations.DisplayName)
        </td>
    </tr>
}

</table>
