@model IEnumerable<DB.Budgets_Permissions>

@{
    ViewBag.Title = @Loc.Dic.AllPermissions;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllBudgets";
}
<strong>
    @ViewBag.budgetYear
</strong>
<p>
    @Html.ActionLink(@Loc.Dic.CreateNewPermission, "Create", new { budgetId = ViewBag.budgetId })
</p>
<table>
    <tr>
        <th>
            @Loc.Dic.Permissions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (!(item.Budgets_PermissionsToAllocation.Where(x => x.BudgetId == ViewBag.budgetId).Count() == 0))
                {
                    @Html.ActionLink(Loc.Dic.Details, "PermissionAllocationList", "PermissionsAllocations", new { permissionId = item.Id, budgetId = ViewBag.budgetId }, null)
                }
                else
                {
                    <b>
                        @Loc.Dic.Empty
                    </b>
                    <b>| </b>
                    @Html.ActionLink(Loc.Dic.AddAllocationToPermission, "Create", "PermissionsAllocations", new { permissionId = item.Id, budgetId = ViewBag.budgetId }, null)
                    <b>| </b>
                    @Html.ActionLink(Loc.Dic.Delete, "Delete", new { id = item.Id, budgetId = ViewBag.budgetId })
                
                }
            </td>
        </tr>
    }

</table>
