@model DB.Budget

@{
    ViewBag.Title = "יצירת תקציב שנתי";
    ViewBag.PageName = "Budgets";
    ViewBag.SubPageName = "AllBudgets";
}

@section ExtraScripts{
    <script src="~/Scripts/CreateBudgetScript.js"></script>
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>תקציב שנתי חדש</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <p>
            <input type="submit" value="צור תקציב" />
        </p>
    </fieldset>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}