@model int?
@{
    ViewBag.Title = Loc.Dic.AllBudgets;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllBudgets";
}

@using (Html.BeginForm("Import", "Budgets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <text>
    @if (Model.HasValue)
    {
        <h2>@Loc.Dic.UpdateBudget @ViewBag.Year</h2>
        <input type="hidden" name="id" value="@Model" />
    }
    else
    {
        <h2>@Loc.Dic.ImportBudget</h2>
        @Loc.Dic.Year
        <input type="text" name="year" />
        <br />
    }
    <br />
    @Loc.Dic.FileFormat
    <br />
    <input type="radio" name="budgetType" value="Year">
    @Loc.Dic.Yearly<br>
    <input type="radio" name="budgetType" value="Month">
    @Loc.Dic.Monthly<br>
    <input type="file" name="file" />
    <input type="submit" value="OK" />
    </text>
}
