@model IEnumerable<DB.Budget>

@{
    ViewBag.Title = Loc.Dic.AllBudgets;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllBudgets";
}

<p>
    @Html.ActionLink(Loc.Dic.ImportBudget, "Import", "Budgets")

</p>
<table>
    <tr>
        <th>
            @Loc.Dic.Active
        </th>
        <th>
            @Loc.Dic.Year
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>

            @Html.ActionLink(Loc.Dic.UpdateBudget, "Import", "Budgets", new { id = item.Id }) |
            @Html.ActionLink(Loc.Dic.Details, "Details", new { id = item.Id }) |
            @Html.ActionLink(Loc.Dic.Permissions, "Details", new { id = item.Id }) |
            @Html.ActionLink(Loc.Dic.Activate, "Activate", new { id = item.Id }) |
            @Html.ActionLink(Loc.Dic.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
