@model DB.Company

@{
    ViewBag.Title = Loc.Dic.CompanyDetails;
    ViewBag.PageName = "";
    ViewBag.noSubMenu = true;
}


<fieldset>
    <legend>#</legend>

    <div class="display-label">
         @Loc.Dic.Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Loc.Dic.City
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Loc.Dic.Street
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>

    <div class="display-label">
         @Loc.Dic.Number
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HouseNumber)
    </div>

    <div class="display-label">
        @Loc.Dic.BankAccountNumber
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankAccount)
    </div>

    <div class="display-label">
         @Loc.Dic.BankBranch
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankBranch)
    </div>

    <div class="display-label">
        @Loc.Dic.BankNumber
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankNumber)
    </div>

    <div class="display-label">
         @Loc.Dic.TelephoneNumber
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelephoneNumber)
    </div>

    <div class="display-label">
         @Loc.Dic.CompanyNumber
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
