@model DB.Location

@{
    ViewBag.Title = Loc.Dic.Details;
    ViewBag.PageName = "Inventory";
    ViewBag.SubPageName = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Loc.Dic.Details</h2>

<fieldset>
    <legend>@Loc.Dic.Location</legend>

    <div class="display-label">
         @Loc.Dic.City
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Loc.Dic.Address
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Loc.Dic.Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id=Model.Id }) |
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</p>
