@model DB.HR_UsersToJobs

@{
    ViewBag.Title = "Delete";
    ViewBag.PageName = "";
    ViewBag.SubPageName = "";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>HR_UsersToJobs</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HR_Jobs.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HR_Jobs.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobPercent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobPercent)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
