@model DB.HR_UsersToJobs

@{
    ViewBag.Title = "Edit";
    ViewBag.PageName = "";
    ViewBag.noSubMenu = true;
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>HR_UsersToJobs</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobId, "HR_Jobs")
        </div>
        <div class="editor-field">
            @Html.DropDownList("JobId", String.Empty)
            @Html.ValidationMessageFor(model => model.JobId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobPercent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JobPercent)
            @Html.ValidationMessageFor(model => model.JobPercent)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
