@if (Session["User"] != null)
{
    <text>
    @Loc.Dic.Welcome, @Html.ActionLink((string)ViewBag.CurrentUser.FullName,"Settings","Users",null,null) ! @Loc.Dic.Company @Html.ActionLink((string)ViewBag.CurrentUser.CompanyName, "Details", "Companies", new { id = (int)ViewBag.CurrentUser.CompanyId }, null) |
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            <a href="javascript:document.getElementById('logoutForm').submit()">@Loc.Dic.Disconnect</a>
            <span>&nbsp&nbsp @Loc.Dic.Support : 050-775-74-84 (support@pqdev.com)</span> 
            <a href="http://download3.showmypc.com/ShowMyPC3151.exe">@Loc.Dic.RemoteControl</a>
}
    </text>
} else {
    <span>@Html.ActionLink(@Loc.Dic.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
}
