@model DB.Projects_ParentProject

@{
    ViewBag.Title = Loc.Dic.Delete;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllProjects";
}

<h2>@Loc.Dic.Delete</h2>

<h3>@Loc.Dic.DeleteAlertMessege</h3>
<fieldset>
    <legend>@Loc.Dic.Project</legend>

    <div class="display-label">
         @Loc.Dic.Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Loc.Dic.Delete" /> |
        @Html.ActionLink(Loc.Dic.BackToList, "Index")
    </p>
}
