@model DB.Projects_ParentProject

@{
    ViewBag.Title = Loc.Dic.Edit;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllProjects";
}

<h2>@Loc.Dic.Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Loc.Dic.Project</legend>


        <div class="editor-label">
            @Loc.Dic.Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="@Loc.Dic.Send" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
