@model IEnumerable<DB.Supplier>

@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllSuppliers";
}



<p>
    @Html.ActionLink(Loc.Dic.Import, "Import")
</p>
<table>
    <tr>
        <th>
            @Loc.Dic.Name
        </th>
        <th>
            @Loc.Dic.ImportedSupplierNumber
        </th>
        <th>
            @Loc.Dic.ImportDate
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.ActionLink(Loc.Dic.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
