@model DB.Budgets_Baskets

@{
    ViewBag.Title = "Delete";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "Permissions";
}

<h2>@Loc.Dic.Delete</h2>

<h3>@Loc.Dic.DeleteAlertMessege</h3>
<fieldset>
    <legend>@Loc.Dic.BudgetBasket</legend>

    <div class="display-label">
         @Loc.Dic.CreationDate
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">
         @Loc.Dic.Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
        <input type ="hidden", value ="@ViewBag.BudgetId", name="budgetId" />
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Loc.Dic.Delete" /> |
        @Html.ActionLink(Loc.Dic.BackToList, "Index")
    </p>
}
