@model GAppsDev.Models.PermissionModels.PermissionAllocationsModel

@{
    ViewBag.Title = Loc.Dic.EditAllocations ;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllPermissions";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "Permissions";
}

@section ExtraScripts{
    <script type="text/javascript" src='@Url.Action("LocalizeJavascript", "Localization", new { get = "Show,Hide" })'></script>
    <script src="~/Scripts/EditPermissionAllocationScript.js"></script>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <input type="hidden" name="Permission.Id" value="@Model.Permission.Id" />
    
    for (int i = 0; i < Model.BudgetAllocationsList.Count; i++)
    {
        <fieldset>
            <legend>@Loc.Dic.Budget - @Model.BudgetAllocationsList[i].Budget.Year</legend>
            <input type="hidden" name="BudgetAllocationsList[@i].Budget.Id" value="@Model.BudgetAllocationsList[i].Budget.Id" />

            <div id="expandingDiv-@i" style="display:none;">
                @Html.DropDownList("budgetAllocationsList-" + i, (SelectList)Model.BudgetAllocationsList[i].AllocationsList, new { id = "budgetAllocations-" + i }) <input id="addAllocationBtn-@i" type="button" value="Add allocation" onClick="addItem(@i)"/>
                <fieldset>
                    <legend>>@Loc.Dic.BudgetAllocations</legend>

                    <div id="budgetContainer-@i">
                        @for (int i2 = 0; i2 < Model.BudgetAllocationsList[i].PermissionAllocations.Count; i2++)
                        {
                            <div class="budget-@i" id="permissionAllocation-@i-@i2">
                                <input type="hidden" class='isActiveField' id="isActiveField-@i-@i2" name="BudgetAllocationsList[@i].PermissionAllocations[@i2].IsActive" value="@Model.BudgetAllocationsList[i].PermissionAllocations[i2].IsActive.ToString()" />
                                <input type="hidden" class="existingAllocations" id="allocationField-@i-@i2" name="BudgetAllocationsList[@i].PermissionAllocations[@i2].Allocation.BudgetsExpensesToIncomesId" value="@Model.BudgetAllocationsList[i].PermissionAllocations[i2].Allocation.BudgetsExpensesToIncomesId" />
                                <input type="hidden" name="BudgetAllocationsList[@i].PermissionAllocations[@i2].Allocation.Id" value="@Model.BudgetAllocationsList[i].PermissionAllocations[i2].Allocation.Id" />

                                <span>@Model.BudgetAllocationsList[i].PermissionAllocations[i2].Allocation.Budgets_ExpensesToIncomes.Amount</span> -
                                <span>@Model.BudgetAllocationsList[i].PermissionAllocations[i2].Allocation.Budgets_ExpensesToIncomes.Budgets_Incomes.CustomName</span> --->
                                <span>@Model.BudgetAllocationsList[i].PermissionAllocations[i2].Allocation.Budgets_ExpensesToIncomes.Budgets_Expenses.CustomName</span>
                        
                                <input type="button" value="@Loc.Dic.Delete" onClick="removeItem(@i,@i2) "/>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <input type="button" value="@Loc.Dic.Show" onClick="expandDiv(this, 'expandingDiv-@i') " />
        </fieldset>
    }
    <p>
        <input type="submit" value="@Loc.Dic.Submit" />
    </p>
}