@model DB.Budgets_Permissions

@{
    ViewBag.Title = "Edit";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "Permissions";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Budgets_Permissions</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
    
    <fieldset>
        <legend>הוסף הרשאות</legend>

        <div class="editor-field">
            <div id="AddNewItemContainer">
                פריט: <span id="loadingMessage">טוען פריטים ... </span>
                כמות :
                <input style="width: 50px" id="itemQuantity" type="text" />
                מחיר ליחידה :
                <input style="width: 50px" id="itemPrice" type="text" />
                מחיר כולל :
                <input class="display" id="itemFinalPrice" type="text" disabled="disabled" />
                <input id="AddNewItemButton" type="button" value="הוסף" />
                <input id="AddOrderItemButton" type="button" value="צור פריט חדש" onclick="addOrderItem()" />
            </div>
        </div>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
