@model IEnumerable<DB.Budgets_Baskets>

@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllPermissions";
}

<h2>@Loc.Dic.Permissions</h2>

<p>
    @Html.ActionLink(Loc.Dic.CreateNew, "Create")
</p>
<table>
    <tr>
        <th>
            @Loc.Dic.Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(Loc.Dic.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
