@model DB.Inventory

@{
    ViewBag.Title = Loc.Dic.CreateNew;
    ViewBag.PageName = "Inventory";
    ViewBag.SubPageName = "AllInventory";
}

@section ExtraScripts{
    <script type="text/javascript" src='@Url.Action("LocalizeJavascript", "Localization")'></script>
    <script src="~/Scripts/CreateInventoryScript.js"></script>
    <script src="~/Scripts/DatePickerScript.js"></script>
}

<h2>@Loc.Dic.CreateNew</h2>
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Loc.Dic.Inventory</legend>

        @Loc.Dic.Supplier: 
        @Html.DropDownList("sid", (SelectList)ViewBag.Suppliers, Loc.Dic.SelectSupplier, new { id = "suppliersDropDownList" }) 
        <button type="button" id="addSupplierButton">@Loc.Dic.AddSupplier</button> 
        <br />
        <br />

        @Loc.Dic.Item: 
        <select name="ItemId" id="ItemDropDownList"></select> 
        <button type="button" id="addItemButton">@Loc.Dic.AddItem</button> 
        <br />
        <br />
        
        <div class="editor-label">
            @Loc.Dic.Quantity
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OriginalQuantity)
            @Html.ValidationMessageFor(model => model.OriginalQuantity)
        </div>
        <br />
        
        <div class="editor-label">
            @Loc.Dic.Location
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LocationId, (SelectList)ViewBag.LocationId, Loc.Dic.SelectNone)
            @Html.ValidationMessageFor(model => model.LocationId)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.RelatedInventoryItem
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RelatedInventoryItem, (SelectList)ViewBag.RelatedInventoryItem, Loc.Dic.SelectNone)
            @Html.ValidationMessageFor(model => model.RelatedInventoryItem)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.AssignedTo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssignedTo)
            @Html.ValidationMessageFor(model => model.AssignedTo)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.SerialNumber
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNumber)
            @Html.ValidationMessageFor(model => model.SerialNumber)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.WarrentyPeriodStart
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.WarrentyPeriodStart, new { @class = "dateField" })
            @Html.ValidationMessageFor(model => model.WarrentyPeriodStart)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.WarrentyPeriodEnd
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.WarrentyPeriodEnd, new { @class = "dateField" })
            @Html.ValidationMessageFor(model => model.WarrentyPeriodEnd)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.Notes
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.Status
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.IsOutOfInventory
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsOutOfInventory)
            @Html.ValidationMessageFor(model => model.IsOutOfInventory)
        </div>
        <br />

        <div>
            <input class="disableOnSubmit" type="submit" value="@Loc.Dic.CreateNew" /> | 
            @Html.ActionLink(Loc.Dic.BackToList, "Index")
        </div>
    </fieldset>
}