
/@model DB.Inventory

@{
    ViewBag.Title = "Details";
    ViewBag.PageName = "Inventory";
    ViewBag.SubPageName = "AllInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Loc.Dic.Details</h2>

<fieldset>
    <legend>@Loc.Dic.Inventory</legend>

    <div class="display-label">
        @Loc.Dic.AddDate
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.ItemName
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Orders_Items.Title)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.ItemDescription
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Orders_Items.SubTitle)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.Location
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location.Name)
    </div>
    <br />

    @if (Model.OrderId != null)
    {
        <div class="display-label">
            @Loc.Dic.OrderNumber
        </div>
        <div class="display-field">
            @Model.Order.OrderNumber
            @Html.ActionLink(Loc.Dic.View + " " + Loc.Dic.Order, "Details", "Orders", new { id = Model.OrderId }, null)
        </div>
        <br />
    }

    <div class="display-label">
        @Loc.Dic.AssignedTo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssignedTo)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.SerialNumber
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SerialNumber)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.WarrentyPeriodStart
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WarrentyPeriodStart)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.WarrentyPeriodEnd
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WarrentyPeriodEnd)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.Notes
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.RelatedInventoryItem
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Inventory2.Orders_Items.Title)
        @Html.DisplayFor(model => model.Inventory2.Orders_Items.SubTitle)

    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.Status
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.IsOutOfInventory
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOutOfInventory)
    </div>
    <br />

</fieldset>

<p>
    @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</p>
