@model DB.Inventory

@{
    ViewBag.Title = Loc.Dic.Inventory;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageName = "Inventory";
    ViewBag.SubPageName = "AllInventory";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Loc.Dic.Inventory</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Loc.Dic.ItemName
        </div>
        <div class="editor-field">
            @Html.DisplayFor( model => model.Orders_Items.Title)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.IsOutOfInventory
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsOutOfInventory)
            @Html.ValidationMessageFor(model => model.IsOutOfInventory)
        </div>

        <div class="editor-label">
            @Loc.Dic.Location
        </div>
        <div class="editor-field">
            @Html.DropDownList("LocationId", String.Empty)
            @Html.ValidationMessageFor(model => model.LocationId)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.AssignedTo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssignedTo)
            @Html.ValidationMessageFor(model => model.AssignedTo)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.SerialNumber
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNumber)
            @Html.ValidationMessageFor(model => model.SerialNumber)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.WarrantyPeriod
        </div>
        <div class="editor-field">
            @Loc.Dic.From- @Html.EditorFor(model => model.WarrentyPeriodStart) @Loc.Dic.To- @Html.EditorFor(model => model.WarrentyPeriodEnd)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.Notes
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
        <br />

        <div class="editor-label">
            @Loc.Dic.Status
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>
        <br />

        <p>
            <input type="submit" value="@Loc.Dic.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
