@model IEnumerable<DB.Inventory>

@{
    ViewBag.Title = Loc.Dic.Inventory;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageName = "Inventory";
    ViewBag.SubPageName = "AllInventory";
}

<p>
    @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.InventoryManager))
    {
        @Html.ActionLink(Loc.Dic.CreateNew, "Create")
    }
</p>
<table>
    <tr>
        <th>
            @Loc.Dic.CreationDate
        </th>
        <th>
            @Loc.Dic.ItemName
        </th>
        <th>
            @Loc.Dic.ItemDescription
        </th>
        <th>
            @Loc.Dic.Location
        </th>
        <th>
            @Loc.Dic.AssignedTo
        </th>
        <th>
            @Loc.Dic.Status
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders_Items.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders_Items.SubTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id = item.Id }) |
            @Html.ActionLink(Loc.Dic.Details, "Details", new { id = item.Id }) |
            @Html.ActionLink(Loc.Dic.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
