@model GAppsDev.Models.CreateOrderModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Loc.Dic.CreateNewOrder;
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "MyOrders";
}

@section ExtraScripts{
    <script type="text/javascript" src='@Url.Action("LocalizeJavascript", "Localization")'></script>
    <script src="~/Scripts/createOrderScript.js"></script>
}

<fieldset>
    <legend>@Loc.Dic.ChooseSupplier</legend>
    <label class="inlineLabel" for="choosenSupplier">@Loc.Dic.Supplier: </label>

    @Html.DropDownList("SupplierId", (SelectList)ViewBag.SupplierId, new { id = "suppliersList" })

    <input id="SupplierButton" type="button" value="@Loc.Dic.ChooseAndContinue" onclick="beginForm()" />
    <!-- <input id="AddSupplierButton" type="button" value="Loc.Dic.CreateNew" onclick="addSupplier()" /> -->
</fieldset>

<fieldset id="formContainer" style="display: none;">
    <legend>@Loc.Dic.OrderItems</legend>

    @using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { style = "display:none;" }))
    {
        @Html.ValidationSummary(true)

        <input id="SupplierId" name="Order.SupplierId" type="hidden" value="" />
        <input id="ItemsAsString" name="itemsString" type="hidden" value="" />

        <div class="editor-field">
            <input id="orderItemsList" name="orderItemsList" type="hidden" value="" />

            <div id="AddNewItemContainer">
                @Loc.Dic.OrderItem: <span id="loadingMessage">@Loc.Dic.LoadingItems... </span>
                @Loc.Dic.Quantity:
                <input style="width: 50px" id="itemQuantity" type="text" />
                @Loc.Dic.SingleItemPrice:
                <input style="width: 50px" id="itemPrice" type="text" />
                @Loc.Dic.TotalPrice:
                <input class="display" id="itemFinalPrice" type="text" value="0" disabled="disabled" />
                <input id="AddNewItemButton" type="button" value="@Loc.Dic.Add" />
                <input id="AddOrderItemButton" type="button" value="@Loc.Dic.CreateNewItem" onclick="addOrderItem()" />
            </div>
        </div>
        
        <fieldset>
            <legend>@Loc.Dic.OrderItems</legend>

            <div id="orderItems">
                <span>@Loc.Dic.NoItemsInOrder.</span>
            </div>

        </fieldset>
        <br />
        <span>@Loc.Dic.TotalPrice: </span>
        <input class="display" type="text" id="totalOrderPrice" value="0" disabled="disabled" />
        <br />
        <br />
        if (DA.Roles.HasRole((DA.RoleType)ViewBag.UserRoles, DA.RoleType.FutureOrderWriter))
        {
        @Html.CheckBoxFor(model => model.IsFutureOrder, new { id = "isFutureOrder" }) <span>@Loc.Dic.FutureOrder</span>
        <br />
        @Loc.Dic.BudgetAllocation<text>:</text> @Html.DropDownList("BudgetAllocationId", (SelectList)ViewBag.BudgetAllocationId, new { id = "allocationSelectList" }) 
        
        <div id="FutureOrderContainer" style="display:none;">
            @Loc.Dic.Month: 
            @for (int i = 0; i < ViewBag.Allocations.Count; i++)
            {
                <select id="allocation-@ViewBag.Allocations[i].Id" class="allocationMonthList" @if (i != 0)
                                                                                               {<text>style="display:none;"</text>}>

                    @for (int month = DateTime.Now.Month; month <= 12; month++)
                    {
                        DB.Budgets_AllocationToMonth monthAllocation = ((DB.Budgets_Allocations)ViewBag.Allocations[i]).Budgets_AllocationToMonth.SingleOrDefault(x => x.MonthId == month);
                        decimal amount = monthAllocation == null ? 0 : monthAllocation.Amount;
                        
                        <option data-amount="@amount" value="@month">@Html.GetMonthName(month) (@amount)</option>
                    }

                </select>
            }
            @Loc.Dic.Amount: <input type="text" id="allocationAmount" value="" /> 
            <input id="addAllocationBtn" type="button" value="@Loc.Dic.AddAllocation" onClick="addAllocation()" />
        
            <fieldset>
                <legend>@Loc.Dic.BudgetAllocations</legend>

                <div id="orderAllocations">
                    <span>@Loc.Dic.NoAllocationsInOrder.</span>
                </div>
            </fieldset>
            <br />
            <span>@Loc.Dic.TotalAllocation: </span>
            <input class="display" type="text" id="totalAllocation" value="0" disabled="disabled" />
        </div>
        }
        else
        {
            @Loc.Dic.BudgetAllocation<text>:</text> @Html.DropDownList("BudgetAllocationId", (SelectList)ViewBag.BudgetAllocationId, new { id = "allocationSelectList" })
        }
        <br />
        <br />
        <div class="editor-label">
            @Loc.Dic.Notes:
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Order.Notes)
            @Html.ValidationMessageFor(model => model.Order.Notes)
        </div>
        
        <p>
            <input type="submit" value="@Loc.Dic.Submit" />
        </p>
    }
</fieldset>

<div>
    @Html.ActionLink(Loc.Dic.BackToList, "MyOrders")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
