@model DA.OrdersRepository.ExeedingOrderData

@{
    ViewBag.Title = Loc.Dic.ModifyStatus;
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "PendingOrders";
}

@Html.Action("PartialDetails", new { model = Model})
<br />

@using (Html.BeginForm()) {
    <input type="hidden" name="id" value="@Model.OriginalOrder.Id" />
    
    <div class="display-label">
        @Loc.Dic.OrderApproverNotes
    </div>
    <div class="editor-field">
        <textarea name="approverNotes" maxlength="250" ></textarea>
    </div>
    <p>
        <input type="submit" class="disableOnSubmit" name="selectedStatus" value="@Loc.Dic.ApproveOrder" />
        <input type="submit" class="disableOnSubmit" name="selectedStatus" value="@Loc.Dic.DeclineOrder" />
        <input type="submit" class="disableOnSubmit" name="selectedStatus" value="@Loc.Dic.SendBackToUser" />
        | @Html.ActionLink(Loc.Dic.BackToList, "Index")
    </p>
}
