@model GAppsDev.Models.OrderModel

@{
    ViewBag.Title = @Loc.Dic.ModifyStatus;
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "";
}

@Html.Action("PartialDetails", new { id = ViewBag.OrderId})
<br />

@using (Html.BeginForm()) {
    
    <div class="display-label">
        @Loc.Dic.OrderApproverNotes
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Order.OrderApproverNotes)
    </div>
    @Html.HiddenFor(model => model.Order.Id)
    <p>
        <input type="submit" name="selectedStatus" value="@Loc.Dic.ApproveOrder" />
        <input type="submit" name="selectedStatus" value="@Loc.Dic.DeclineOrder" />
        <input type="submit" name="selectedStatus" value="@Loc.Dic.SendBackToUser" />

    </p>
}

<p>
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</p>
