@model DB.Order

@{
    ViewBag.Title = Loc.Dic.ModifyStatus;
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "PendingOrders";
}

@Html.Action("PartialDetails", new { order = Model})
<br />

@using (Html.BeginForm()) {
    
    <div class="display-label">
        @Loc.Dic.OrderApproverNotes
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.OrderApproverNotes)
    </div>
    @Html.HiddenFor(model => model.Id)
    <p>
        <input type="submit" name="selectedStatus" value="@Loc.Dic.ApproveOrder" />
        <input type="submit" name="selectedStatus" value="@Loc.Dic.DeclineOrder" />
        <input type="submit" name="selectedStatus" value="@Loc.Dic.SendBackToUser" />
        | @Html.ActionLink(Loc.Dic.BackToList, "Index")
    </p>
}
