@model IEnumerable<DB.Order>

@{
    ViewBag.Title = "ההזמנות שלי";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<p>
    @Html.ActionLink("יצירת הזמנה חדשה", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders_Statuses.Name)
            </td>
            <td>
                @Html.ActionLink("הצג", "Details", new { id = item.Id }) |
            @Html.ActionLink("ערוך", "Edit", new { id = item.Id }) |
            @Html.ActionLink("מחק", "Delete", new { id = item.Id })|
            @if (item.Orders_Statuses.Id == ViewBag.ApprovedStatus)
            {
                @Html.ActionLink("הדפס הזמנה", "DownloadOrderAsPdf", new { id = item.Id })
            }
            </td>
        </tr>
    }

</table>
