@model DA.OrdersRepository.ExeedingOrderData

@{
    bool isSystemManager = DA.Roles.HasRole((DA.RoleType)ViewBag.CurrentUser.Roles, DA.RoleType.SystemManager);
}

<fieldset>
    <legend>@Loc.Dic.OrderDetails</legend>
    @if (Model.OriginalOrder.IsOrderForExistingInvoice)
    {
        <div class="display-label">
            ***@Loc.Dic.OrderForExistingInvoice***
        </div>
        <br />
    }
    <div class="display-label">
        @Loc.Dic.OrderNumber
    </div>
    <div class="display-field" style="font-size: x-large;">
        @Html.DisplayFor(model => model.OriginalOrder.OrderNumber)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.OrderCreatorName
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginalOrder.User.FirstName)
        @Html.DisplayFor(model => model.OriginalOrder.User.LastName)
        <br />
        (@Html.DisplayFor(model => model.OriginalOrder.User.Email))
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.SupplierName
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginalOrder.Supplier.Name)
    </div>
    <br />

    <div class="display-label">
        @Loc.Dic.OrderStatusName
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginalOrder.Orders_Statuses.Name)

    </div>
    <br />




    @if (Model.OriginalOrder.User1 != null)
    {
        <div class="display-label">
            @Loc.Dic.NextApprover
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OriginalOrder.User1.FullName)

        </div>
        <br />
    }

    <div class="display-label">
        @Loc.Dic.CreationDate
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginalOrder.CreationDate)
    </div>
    <br />

    @if (Model.OriginalOrder.Orders_Statuses.Id >= (int)DA.StatusType.InvoiceScannedPendingOrderCreator)
    {
        <div class="display-label">
            @Loc.Dic.InvoiceNumber
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OriginalOrder.InvoiceNumber)
        </div>
        <br />
        
        <div class="display-label">
            @Loc.Dic.InvoiceDate
        </div>
        <div class="display-field">
            @Model.OriginalOrder.InvoiceDate.Value.ToShortDateString()
        </div>
        <br />
        
        <div class="display-label">
            @Loc.Dic.ValueDate
        </div>
        <div class="display-field">
            @Model.OriginalOrder.ValueDate.Value.ToShortDateString()
        </div>
        <br />
    }

    @if (Model.OriginalOrder.IsFutureOrder)
    {
        <div class="display-label">
            @Loc.Dic.FutureOrder
        </div>
        <div class="display-field">
            @{ int futureMonth = Model.OriginalOrder.Orders_OrderToAllocation.Max(x => x.MonthId); }
            @Html.GetMonthName(futureMonth) @Model.OriginalOrder.Budget.Year
        </div>
        <br />
    }

    <div class="display-label">
        @Loc.Dic.Price
    </div>
    <div class="display-field">
        @Model.OriginalOrder.Price
    </div>
    <br />

    @if (!String.IsNullOrEmpty(Model.OriginalOrder.NotesForSupplier))
    {
        <div class="display-label">
            @Loc.Dic.NotesForSupplier
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OriginalOrder.NotesForSupplier)
        </div>
        <br />
    }

    <div class="display-label">@Loc.Dic.OrderItems </div>
    @Html.Action("ListOrderItems", new { orderItems = Model.OriginalOrder.Orders_OrderToItem.ToList(), baseUrl = Url.Action("Index") })
    <br />

    <div class="display-label">@Loc.Dic.OrderAllocations </div>
    @Html.Action("ListOrderAllocations", new { orderAllocations = Model.OriginalOrder.Orders_OrderToAllocation.ToList(), budgetYear = Model.OriginalOrder.Budget.Year, isFutureOrder = Model.OriginalOrder.IsFutureOrder, baseUrl = Url.Action("Index"), exeedingData = Model })
    <br />

    @if (((List<DB.Orders_History>)ViewBag.orderHistoryList).Any())
    { 
        <div class="display-label">
            @Loc.Dic.History
        </div>
        @Html.Action("SimpleListOrdersHistory", "History", new { ordersHistoryList = (List<DB.Orders_History>)ViewBag.orderHistoryList, baseUrl = Url.Action("Details") })    
    }

    @if (Model.OriginalOrder.Orders_Statuses.Id >= (int)DA.StatusType.InvoiceScannedPendingOrderCreator)
    {
        <div class="display-label">@Loc.Dic.Actions </div>
        <br />
        <span class="bold">@Loc.Dic.Invoice: </span> @Html.ActionLink(Loc.Dic.DownloadInvoice, "DownloadInvoice", new { id = Model.OriginalOrder.Id });
                                                                                                                                                      if (isSystemManager)
                                                                                                                                                      {
        <text>|</text> @Html.ActionLink(Loc.Dic.UpdateInvoice, "UploadInvoiceFile", new { id = Model.OriginalOrder.Id })
                                                                                                                                                      }
        <br />
                                                                                                                                                      if (Model.OriginalOrder.Orders_Statuses.Id >= (int)DA.StatusType.ReceiptScanned)
                                                                                                                                                      {
        <span class="bold">@Loc.Dic.Receipt: </span> @Html.ActionLink(Loc.Dic.DownloadReceipt, "DownloadReceipt", new { id = Model.OriginalOrder.Id });
                                                                                                                                                      if (isSystemManager)
                                                                                                                                                      {
        <text>|</text> @Html.ActionLink(Loc.Dic.UpdateReceipt, "UploadReceiptFile", new { id = Model.OriginalOrder.Id })
                                                                                                                                                      }
        <br />
                                                                                                                                                      }
        <span class="bold">@Loc.Dic.Order: </span>
                                                                                                                                                      if (Model.OriginalOrder.UserId == ViewBag.CurrentUser.UserId && (Model.OriginalOrder.Orders_Statuses.Id == (int)DA.StatusType.Pending || Model.OriginalOrder.Orders_Statuses.Id == (int)DA.StatusType.PendingOrderCreator))
                                                                                                                                                      {
        @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id = Model.OriginalOrder.Id }) <text>|</text>
                                                                                                                                                      }
        @Html.ActionLink(Loc.Dic.Print, "DownloadOrderAsPdf", new { id = Model.OriginalOrder.Id }) 
        <br />
    }
</fieldset>
