@model DB.Order

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = Loc.Dic.PrintOrder;
}

@section ExtraCss{
    <link href="~/Content/site.css" rel="stylesheet" />
    <style>
        body {
            border: none;
            font-size: medium;
        }

        .itemTitle {
            text-decoration: underline;
        }

        .itemDetail {
            margin: 0 5px;
        }

        legend {
            font-size: large;
        }
    </style>
    @if (ViewBag.LanguageCode == "he" || ViewBag.LanguageCode == "ar")
    {
        <link href="~/Content/rtl.css" rel="stylesheet" />
    }
    else if (ViewBag.LanguageCode == "en" || ViewBag.LanguageCode == "ru")
    {
        <link href="~/Content/ltr.css" rel="stylesheet" />
    }
}

<fieldset>
    <legend>@Loc.Dic.ProcurementOrder</legend>

    @if (ViewBag.LogoExists)
    {
        <div id="logoContainer">
            <img src=@(Url.Content("~/Content/LogoImages/" + Model.Company.Id + ".png")) style="max-width:500px;max-height:200px;"/>
        </div>
    }
    else
    {
        <h1>@Model.Company.Name </h1>
    }
    <br />
    <br />

    <span class="bold">@Loc.Dic.OrderNumber:</span> <span>@Html.DisplayFor(model => Model.OrderNumber)</span>
    <br />
    <span class="bold">@Loc.Dic.OrderCreatorName:</span> <span>@Html.DisplayFor(model => Model.User.FirstName) @Html.DisplayFor(model => Model.User.LastName)</span>
    <br />
    <span class="bold">@Loc.Dic.SupplierName:</span> <span>@Html.DisplayFor(model => Model.Supplier.Name)</span>
    <br />
    <span class="bold">@Loc.Dic.OrderDate:</span> <span>@Model.CreationDate.ToShortDateString()</span>
    <br />
    @if (Model.IsOrderForExistingInvoice)
    {
        <div class="display-label">
            @Loc.Dic.OrderForExistingInvoice
        </div>
        <br />
    }
    @Html.Action("ListOrderItems", new { orderItems = Model.Orders_OrderToItem.ToList(), baseUrl = Url.Action("Index"), showCoinSign = true, coinSign = ViewBag.CompanyCoinSign })
    <br />

    <div class="floatToSide" style="font-size: large;">
        <span class="bold">@Loc.Dic.TotalPrice:</span> <span>@Html.DisplayFor(model => Model.Price) @ViewBag.CompanyCoinSign @Loc.Dic.IncludingVAT</span>
    </div>
    <br />

    <span class="bold">@Loc.Dic.Notes:</span><br />
    <span>@Html.DisplayFor(model => Model.Notes)</span>
    <br />
    <br />
</fieldset>
