@model GAppsDev.Models.PrintOrderModel

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "PrintOrderToScreen";
}

<fieldset>
    <legend>@Loc.Dic.ProcurementOrder</legend>
    <br />

    <div class="display-label">
         @Loc.Dic.CompanyName:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Company.Name)
    </div>
    <br />

    <div class="display-label">
         @Loc.Dic.CompanyNumber:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Company.CompanyNumber)
    </div>
    <br />

    <div class="display-label">
         @Loc.Dic.OrderCreatorName:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.User.FirstName) @Html.DisplayFor(model => model.Order.User.LastName)
    </div>
    <br />

    <div class="display-label">
         @Loc.Dic.OrderDate:
    </div>
    <div class="display-field">
        @Model.Order.CreationDate.ToShortDateString()
    </div>
    <br />

    <span class="bold"> @Loc.Dic.SupplierName:</span> <span>@Html.DisplayFor(model => model.Order.Supplier.Name)</span>
    <br />

    <fieldset>
        <legend>@Loc.Dic.OrderItems</legend>

        @foreach (var item in Model.Items)
        {
            <div class="orderItemContainer">
                <span class="bold">@Loc.Dic.OrderItemTitle:</span> @item.Orders_Items.Title
                <span class="bold">@Loc.Dic.OrderItemSubTitle:</span> @item.Orders_Items.SubTitle
                <span class="bold">@Loc.Dic.Quantity:</span> @item.Quantity
                <span class="bold">@Loc.Dic.SingleItemPrice:</span> @item.SingleItemPrice
                <span class="bold">@Loc.Dic.Total:</span> @(item.SingleItemPrice * item.Quantity)
            </div>
        }
    </fieldset>

    

    <div class="display-label">
         @Loc.Dic.Price:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Price)
    </div>
    <br />

    <div class="display-label">
         @Loc.Dic.Notes:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Notes)
    </div>
    <br />
</fieldset>
