@model GAppsDev.Models.Search.OrdersSearchValuesModel

<fieldset>
    <legend class="bold">@Loc.Dic.AdvancedSearch</legend>
    <div id="ExpandingSearchBox" @if(ViewBag.IsCollapsed) { <text>style="display:none;"</text> }>

    @using (Html.BeginForm("Search", "Orders"))
    {
        @Html.ValidationSummary(true)
            
            @Html.Hidden("HideUserField", (bool)ViewBag.HideUserField)
            @Html.Hidden("HideStatusField", (bool)ViewBag.HideStatusField)
            @Html.Hidden("HideSupplierField", (bool)ViewBag.HideSupplierField)
        
            if (ViewBag.HideUserField)
            {
                @Html.Hidden("UserId", ((int?)ViewBag.UserId).Value)
            }
            else
            {
                <div class="editor-label">
                <span class="bold">@Loc.Dic.OrderCreatorName:</span>
                </div>
                <div class="editor-field">
                        @Html.DropDownList("UserId", Model.UsersList)
                </div>
                <br />
            }
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.OrderNumber:</span>
            </div>
            <div class="editor-field">
                    @Html.TextBox("OrderNumber")
            </div>
            <br />
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.Budget:</span>
            </div>
            <div class="editor-field">
                    @Html.DropDownList("BudgetId", Model.BudgetsList)
            </div>
            <br />
        
            if (ViewBag.HideStatusField)
            {
                @Html.Hidden("StatusId", ((int?)ViewBag.StatusId).Value)
            }
            else
            {
                <div class="editor-label">
                <span class="bold">@Loc.Dic.Status:</span>
                </div>
                <div class="editor-field">
                    @Html.DropDownList("StatusId", Model.StatusesList)
                </div>
                <br />
            }

            if (ViewBag.HideSupplierField)
            {
                @Html.Hidden("SupplierId", ((int?)ViewBag.SupplierId).Value)
            }
            else
            {
                <div class="editor-label">
                <span class="bold">@Loc.Dic.Supplier:</span>
                </div>
                <div class="editor-field">
                    @Html.DropDownList("SupplierId", Model.SuppliersList)
                </div>
                <br />
            }

            <div class="editor-label">
                <span class="bold">@Loc.Dic.Price:</span>
            </div>
            <div class="editor-field">
                 @Loc.Dic.From- @Html.TextBox("PriceMin") @Loc.Dic.To- @Html.TextBox("PriceMax")
            </div>
            <br />
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.CreationDate (DD/MM/YYYY):</span>
            </div>
            <div class="editor-field">
                @Loc.Dic.From- @Html.TextBox("CreationMin") @Loc.Dic.To- @Html.TextBox("CreationMax")
            </div>
            <br />
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.SearchForWordsInNotes (@Loc.Dic.CommaSepareted):</span>
            </div>
            <div class="editor-field">
                @Html.TextBox("NoteText")
            </div>
        
            <p>
                <input type="submit" value="@Loc.Dic.Search"/>
            </p>
    }
    </div>
    @if (ViewBag.IsExpanding)
    { 
        <input id="ExpandSearchButton" type="button" value="@if(ViewBag.IsCollapsed){@Loc.Dic.Show}else {@Loc.Dic.Hide}" /> 
    }
</fieldset>