@model GAppsDev.Models.Search.OrdersSearchValuesModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Loc.Dic.OrdersSearch;
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "AllOrders";
}

@section ExtraScripts{
    <script type="text/javascript" src='@Url.Action("LocalizeJavascript", "Localization", new { get = "Show,Hide" })'></script>
}

@Html.Action("SearchForm", new { model = Model, isExpanding = false, isCollapsed= false, userId = ViewBag.UserId, statusId = ViewBag.StatusId, supplierId = ViewBag.SupplierId, hideUserField = ViewBag.HideUserField, hideStatusField = ViewBag.HideStatusField, hideSupplierField = ViewBag.HideSupplierField })
<br />

@if(Model != null)
{
    if (Model.Matches.Count() != 0)
    { 
        <span class="bold">@Loc.Dic.Found @Model.Matches.Count @Loc.Dic.Results: </span>
        @Html.Action("SimpleList", new { orders = Model.Matches })
    }
    else
    {
        <span class="no-properties">@(Loc.Dic.NoOrdersWereFound).</span> 
    }
}