@model GAppsDev.Models.Search.OrdersSearchValuesModel

@if (ViewBag.IsExpanding)
{ 
    <a class="bold" id="ExpandSearchButton">@Loc.Dic.Search</a>
}

<fieldset id="ExpandingSearchBox" @if(ViewBag.IsCollapsed) { <text>style="display:none;"</text> }>
    <legend class="bold">@Loc.Dic.Search: </legend>
    <div id="SearchFormContainer" @if (ViewBag.IsCollapsed) { <text>style="display:none;"</text> }>

    @using (Html.BeginForm("Search", "Orders"))
    {
        @Html.ValidationSummary(true)
            
            @Html.Hidden("HideUserField", (bool)ViewBag.HideUserField)
            @Html.Hidden("HideStatusField", (bool)ViewBag.HideStatusField)
            @Html.Hidden("HideSupplierField", (bool)ViewBag.HideSupplierField)
        
            if (ViewBag.HideUserField)
            {
                @Html.Hidden("UserId", ((int?)ViewBag.UserId).Value)
            }
            else
            {
                <div class="editor-label">
                <span class="bold">@Loc.Dic.OrderCreatorName:</span>
                </div>
                <div class="editor-field">
                        @Html.DropDownList("UserId", Model.UsersList)
                </div>
                <br />
            }
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.OrderNumber:</span>
            </div>
            <div class="editor-field">
                    @Html.TextBox("OrderNumber")
            </div>
            <br />
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.Budget:</span>
            </div>
            <div class="editor-field">
                    @Html.DropDownList("BudgetId", Model.BudgetsList)
            </div>
            <br />
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.Allocation:</span>
            </div>
            <div class="editor-field">
                    @Html.DropDownList("AllocationId", Model.AllocationsList)
            </div>
            <br />
        
            if (ViewBag.HideStatusField)
            {
                @Html.Hidden("StatusId", ((int?)ViewBag.StatusId).Value)
            }
            else
            {
                <div class="editor-label">
                <span class="bold">@Loc.Dic.Status:</span>
                </div>
                <div class="editor-field">
                    @Html.DropDownList("StatusId", Model.StatusesList)
                </div>
                <br />
            }

            if (ViewBag.HideSupplierField)
            {
                @Html.Hidden("SupplierId", ((int?)ViewBag.SupplierId).Value)
            }
            else
            {
                <div class="editor-label">
                <span class="bold">@Loc.Dic.Supplier:</span>
                </div>
                <div class="editor-field">
                    @Html.DropDownList("SupplierId", Model.SuppliersList)
                </div>
                <br />
            }

            <div class="editor-label">
                <span class="bold">@Loc.Dic.Price:</span>
            </div>
            <div class="editor-field">
                 @Loc.Dic.From- @Html.TextBox("PriceMin") @Loc.Dic.To- @Html.TextBox("PriceMax")
            </div>
            <br />
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.CreationDate (DD/MM/YYYY):</span>
            </div>
            <div class="editor-field">
                @Loc.Dic.From- @Html.TextBox("CreationMin", String.Empty, new { id = "CreationMin" }) @Loc.Dic.To- @Html.TextBox("CreationMax", String.Empty, new { @class = "CreationMax" })
            </div>
            <br />
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.SearchForWordsInNotes (@Loc.Dic.CommaSepareted):</span>
            </div>
            <div class="editor-field">
                @Html.TextBox("NoteText")
            </div>
        
            <p>
                <input type="submit" value="@Loc.Dic.Search"/>
            </p>
    }
    </div>
    <script>
    $(function() {
        $("#CreationMax").datepicker($.datepicker.regional["he"]);
        $("#CreationMax").datepicker("option", "dateFormat", "dd/mm/yy");
        $("#CreationMin").datepicker($.datepicker.regional["he"]);
        $("#CreationMin").datepicker("option", "dateFormat", "dd/mm/yy");
    });
    </script>    
</fieldset>
