@model GAppsDev.Models.UploadInvoiceModel

@{
    ViewBag.Title = "UploadInvoiceFile";
    ViewBag.PageName = "Orders";
    ViewBag.noSubMenu = true;
}

@section ExtraScripts{
    <script src="~/Scripts/DatePickerScript.js"></script>
}

<h2>@Loc.Dic.UpdateInvoice</h2>
<br />

@Html.ActionLink(Loc.Dic.DownloadInvoice, "DownloadInvoice", new { id = ViewBag.OrderId })
<br /><br />

@using (Html.BeginForm("UpdateInvoiceFile", "Orders", new { id = ViewBag.OrderID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    
    <div class="editor-label">
        @Loc.Dic.InvoiceNumber
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.InvoiceNumber, new { maxlength = "20" })
        @Html.ValidationMessageFor(model => model.InvoiceNumber)
    </div>
    <br />
    
    <div class="editor-label">
        @Loc.Dic.InvoiceDate (DD/MM/YYYY)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.InvoiceDate, new { id = "InvoiceDate", @class = "dateField" })
        @Html.ValidationMessageFor(model => model.InvoiceDate)
    </div>
    <br />
    
    <div class="editor-label">
        <span>@Loc.Dic.ValueDate (DD/MM/YYYY)</span>
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ValueDate, new { id = "ValueDate", @class = "dateField" })
        @Html.ValidationMessageFor(model => model.ValueDate)
    </div>
    <br />
    
    <div class="editor-label">
        @Loc.Dic.InvoiceFile
    </div>
    <div class="editor-field">
        <input id="File" @if(!ViewContext.ViewData.ModelState.IsValidField("File")){<text>class="input-validation-error"</text>} type="file" name="File" /> 
        @Html.ValidationMessageFor(model => model.File)
    </div>
    <br />
    
    <p>
        <input type="submit" value="@Loc.Dic.Submit" />
    </p>
}