@model GAppsDev.Models.UserPermissionsModel

@{
    ViewBag.Title = "AddPermission";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllUsers";
}

@section ExtraScripts{
    <script type="text/javascript" src='@Url.Action("LocalizeJavascript", "Localization", new { get = "Delete" })'></script>
    <script src="~/Scripts/EditUserPermissions.js"></script>
}

@using(Html.BeginForm()) {

    <input type="hidden" name="userId" value="@Model.UserId" />
    @Loc.Dic.PermissionAllocation<text>:</text> @Html.DropDownList("PermissionId", Model.PermissionsSelectList, new { id = "PermissionsList"}) <input id="addPermissionBtn" type="button" value="@Loc.Dic.AddPermission" onClick="addItem()" />
    <fieldset>
        <legend>@Loc.Dic.Permissions</legend>

        <div id="PermissionsContainer">
            @for (int i = 0; i < Model.UserPermissions.Count; i++)
            {
                <div id="permission-@i">
                    <input type="hidden" class='isActiveField' id="isActiveField-@i" name="UserPermissions[@i].IsActive" value="@Model.UserPermissions[i].IsActive.ToString()" />
                    <input type="hidden" class="existingPermissions" id="permissionField-@i" name="UserPermissions[@i].Permission.Id" value="@Model.UserPermissions[i].Permission.Id" />
                    <span>@Model.UserPermissions[i].Permission.Name</span>
                    <input type="button" value="@Loc.Dic.Delete" onClick="removeItem(@i) "/>
                </div>
            }
        </div>
    </fieldset>
    
    <p>
        <input type="submit"  value="@Loc.Dic.Submit" />
    </p>
}

