@model IEnumerable<DB.User>
@using DA

@{
    string ReverseOrder;
    if (ViewBag.Order == "ASC")
    {
        ReverseOrder = "DESC";
    }
    else
    {
        ReverseOrder = "ASC";
    }
}

<table>
    <tr>
        @if(ViewBag.IsCheckBoxed)
        {
        <th>Selected</th>
        }
        @if ((bool)ViewBag.IsOrdered)
        {
        <th>@Html.FilterLink((string)ViewBag.BaseUrl, "מחלקה", "department", ReverseOrder, (string)ViewBag.Sortby)</th>
        <th>@Html.FilterLink((string)ViewBag.BaseUrl, "שם המשתמש", "username", ReverseOrder, (string)ViewBag.Sortby)</th>
        <th>@Html.FilterLink((string)ViewBag.BaseUrl, "הרשאה", "roles", ReverseOrder, (string)ViewBag.Sortby)</th>
        <th>@Html.FilterLink((string)ViewBag.BaseUrl, "אימייל", "email", ReverseOrder, (string)ViewBag.Sortby)</th>
        <th>@Html.FilterLink((string)ViewBag.BaseUrl, "תאריך יצירה", "creation", ReverseOrder, (string)ViewBag.Sortby)</th>
        <th>@Html.FilterLink((string)ViewBag.BaseUrl, "התחברות אחרונה", "login", ReverseOrder, (string)ViewBag.Sortby)</th>
        }
        else
        { 
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th>
            שם המשתמש
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLogInTime)
        </th>
        }
        
        <th>פעולות</th>
    </tr>
@foreach (DB.User item in Model)
{
    <tr>
        @if(ViewBag.IsCheckBoxed)
            {
                <td>
                <input type="radio" id="checkbox-@item.Id" value="@item.Id" name="selectedUser" />
                </td>
            }
        <td>
            @Html.DisplayTextFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.FirstName) @Html.DisplayTextFor(modelItem => item.LastName)
        </td>
        <td>
            @(((DA.RoleType)item.Roles).Describe())
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.LastLogInTime)
        </td>
        <td>
            @Html.ActionLink("הצג", "Details", new { id=item.Id }) |
            @Html.ActionLink("ערוך", "Edit", new { id=item.Id }) |
            @Html.ActionLink("בטל", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
@if ((bool)ViewBag.IsPaged)
{ 
    <br />  
    @Html.Pagination((string)ViewBag.BaseUrl, (int)ViewBag.NumberOfPages, 10, (int)ViewBag.CurrPage, (string)ViewBag.Sortby, (string)ViewBag.Order)
}