@model GAppsDev.Models.Search.UsersSearchFormModel

@if (ViewBag.IsExpanding)
{ 
    <a class="bold" id="ExpandSearchButton">@Loc.Dic.Search</a>
}

<fieldset id="ExpandingSearchBox" @if(ViewBag.IsCollapsed) { <text>style="display:none;"</text> }>
    <legend class="bold">@Loc.Dic.Search: </legend>
    <div id="SearchFormContainer" @if (ViewBag.IsCollapsed) { <text>style="display:none;"</text> }>

    @using (Html.BeginForm("Search", "Users"))
    {
        @Html.ValidationSummary(true)
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.UserName:</span>
            </div>
            <div class="editor-field">
                 <span>@Loc.Dic.FirstName:</span> @Html.TextBoxFor( model => model.SearchValues.FirstName) 
                <br />
                 <span>@Loc.Dic.LastName:</span> @Html.TextBoxFor( model => model.SearchValues.LastName)
            </div>
            <br />
            
            <div class="editor-label">
                <span class="bold">@Loc.Dic.Email:</span>
            </div>
            <div class="editor-field">
                 @Html.TextBoxFor( model => model.SearchValues.Email)
            </div>
            <br />
            
            <div class="editor-label">
            <span class="bold">@Loc.Dic.Role:</span>
            </div>
            <div class="editor-field">
                @Html.DropDownList("Role", Model.RolesList)
            </div>
            <br />
        
            <div class="editor-label">
                <span class="bold">@Loc.Dic.CreationDate (DD/MM/YYYY):</span>
            </div>
            <div class="editor-field">
                @Loc.Dic.From- @Html.TextBoxFor(model => model.SearchValues.CreationMin, new { id="CreationMin" }) @Loc.Dic.To- @Html.TextBoxFor(model => model.SearchValues.CreationMax, new { id="CreationMax" })
            </div>
            
            <p>
                <input type="submit" value="@Loc.Dic.Search"/>
            </p>
    }
    </div>
    <script>
        $(function () {
            $("#CreationMax").datepicker($.datepicker.regional["he"]);
            $("#CreationMax").datepicker("option", "dateFormat", "dd/mm/yy");
            $("#CreationMin").datepicker($.datepicker.regional["he"]);
            $("#CreationMin").datepicker("option", "dateFormat", "dd/mm/yy");
        });
    </script>    
</fieldset>