@model DB.Budgets_Allocations

@{
    ViewBag.Title = "Create";
    ViewBag.PageName = "Budgets";
    ViewBag.SubPageName = "Budgets";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Budgets_Allocations</legend>
        @Html.Hidden("id", (int)ViewBag.BudgetId)

        <div class="editor-label">
            @Html.LabelFor(model => model.IncomeId, "Budgets_Incomes")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IncomeId")
            @Html.ValidationMessageFor(model => model.IncomeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpenseId, "Budgets_Expenses")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ExpenseId")
            @Html.ValidationMessageFor(model => model.ExpenseId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
